<div style="display: block;">
	<img style="width: 200px; height: 200px;" src="images/OptimusJam.jpg"/>	
	<br/>
	<span>Nombre: <b>Jose Ángel Martínez Vera</b></span>
	<br/>
	<span>Nombre de usuario en Github y Heroku: <b>OptimusJam</b></span>
	<br/>
	<span>Video no disponible</span>
</div>