<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="Escribe tu pregunta"/><p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="Escribe tu respuesta"/><p>
<label for="tem" class="rem">Tema:</label>
<select id="tem" name="quiz[tema]">
  <option value="">Otro</option>
  <option <% if (quiz.tema === 'humanidades') {%> selected<%}%> value="humanidades">Humanidades</option>
  <option <% if (quiz.tema === 'ocio') {%> selected<%}%> value="ocio">Ocio</option>
  <option <% if (quiz.tema === 'ciencia') {%> selected<%}%> value="ciencia">Ciencia</option>
  <option <% if (quiz.tema === 'tecnologia') {%> selected<%}%> value="tecnologia">Tecnología</option>
</select><p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar"/>